@{
    ViewData["Title"] = "Default";
    Layout = null;
}

@model List<AdminPanelDashboardStatisticDto>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Randevu Sayısı</p>
                    <h6 class="mb-0">@ViewBag.WorkerCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Hizmet Sayısı</p>
                    <h6 class="mb-0">@ViewBag.ServiceCount</h6>
                </div>
            </div>
        </div>
        @if (User.IsInRole("SHOPOWNERS"))
        {
            <div class="col-sm-6 col-xl-3">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                    <i class="fa fa-chart-area fa-3x text-primary"></i>
                    <div class="ms-3">
                        <p class="mb-2">İşletme Sayısı</p>
                        <h6 class="mb-0">@ViewBag.ShopCount</h6>
                    </div>
                </div>
            </div>
        }
       
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">İptal Randevu</p>
                    <h6 class="mb-0">@ViewBag.AppointmentCancelCount</h6>
                </div>
            </div>
        </div>
    </div>
</div>

