
@{
    ViewData["Title"] = "AddShopOwners";
    Layout = "~/Areas/Admin/Views/Shared/_AppointmentSystemAdminLayout.cshtml";
}

@model AddShopOwnersDto

< <div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">İşletme Sahibi Bilgileri</h6>
    <form asp-area="Admin" asp-controller="AddShopOwners" asp-action="AddShopOwners" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" asp-for="ShopOwnerPhone" class="form-label">Email address</label>
            <input type="phone" asp-for="ShopOwnerPhone" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
            </div>
        </div>
        <div>
            <label for="formFileLg" asp-for="Image" class="form-label">Large file input example</label>
            <input class="form-control" asp-for="Image" form-control-lg" id="formFileLg" type="file">
        </div>

        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>


